:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

/*esto aplica a todos los selectores que terminan con contenedor*/
[class$="__contenedor"] {
    max-width: 100rem;
    margin: 0 auto;
    width: 90%;
}

[class$="__heading"] {
    text-align: center;
    margin-bottom: 5rem;
}


 /* Header */
.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 5rem 0;
    background-size: 10rem;
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

.header__heading {
    text-align: center;
    font-size: 3rem;
    line-height: 1.2;
}

.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    
    width: auto;
}


@media (min-width: 768px) {
    .header {
        background-size: 45rem;
    }

    .header__barra {
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }

    .header__heading {
        text-align: left;
        font-size: 5rem;
    }

    .header__boton {
        display: inline-block;
        padding: 1rem 3rem;
    }

    .header__imagen {
        max-width: 30rem;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .header {
        background-size: 60rem;
    }
}

@media (min-width: 1280px) {
    .header {
        background-size: 80rem;
    }
}

/* NAvegacion */
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navegacion__link {
    color: var(--primario);

}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;

    }
    
    .navegacion__link {
        color: var(--blanco);
    }
}

/* Nucleus*/
.nucleus {
    margin-top: 3rem;
}

.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .nucleus__grid {
        display: grid;
        grid-template-columns: 1fr 2fr ;
        column-gap: 5rem;
        align-items: center;
    }
}


/* Listado */
.listado {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
}



.listado__elemento {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    padding: 2rem;
    margin-bottom: 1rem;
    transition: transform .3s;
    background-color: var(--blanco);
}


.listado__elemento:hover {
    transform: scale(1.1);
}

.listado__numero {
    font-size: 4rem;
    margin: 0;
    color: var(--primario);
    text-align: center;
}

.listado__heading {
    font-size: 3rem;
    margin: 0;
    color: var(--primario);
}

.listado__texto {
    margin: 0;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .listado {
        margin-bottom: 0;
    }

    .listado__numero {
        text-align: end;
        padding-right: 2rem;
    }
    
}

/* Seguridad*/
.seguridad {
    background-color: var(--primario);
    padding: 15rem 0;
    position: relative; /*esto hace que este elemento sea la guia para el que vas a posicionar*/
    margin: 10rem 0;
    overflow: hidden;
}

.seguridad::before,
.seguridad::after {
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 130%;
    position: absolute;
}

.seguridad::before {
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}

.seguridad::after {
    bottom: -10rem;
    left: 0;
    transform: rotate(3deg);
}


.seguridad__heading {
    font-size: 3rem;
    color: var(--blanco);
}

@media (min-width: 768px) {

    .seguridad__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 5rem;
    }
}

/* Comisiones */
.comisiones__heading {
    /* font-size: 3rem; */
}

.comisiones__texto {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1rem;
}

@media (min-width: 768px) {

    .comisiones__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 5rem;
    }

    .listado__elemento--2col {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .comisiones__texto {
        text-align: left;
    }
}

/* testimoniales */
.testimoniales {
    background-color: var(--primario);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimoniales__heading {
    color: var(--blanco);
    margin-bottom: 0;
}

.testimoniales__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}


.testimonial {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    background-color: var(--blanco);
    padding: 2rem;
    position: relative;
}

.testimonial__autor {
    text-align: end;
    color: var(--primario);
    font-weight: 700;
}


.testimonial__texto {
    
    padding-left: 3rem;
}

.testimonial__texto::before {
    content: '';
    background-image: url(../img/comilla.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}


.testimonial__autor::before {
    content: "- ";
}


@media (min-width: 768px) {
    .testimonial {
        margin-bottom: 0;
    }


    .testimoniales__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/*Contenedor*/
.footer {
    background-color: #5A30A0;
    padding: 3rem 0;
}

.footer__logo {
    width: 20rem;
    margin: 0 auto 4rem auto;
}

.navegacion__link--blanco {
    color: var(--blanco);
}

@media (min-width: 768px) {
    .footer__logo {
        margin: 0;
    }

    .footer__grid {
        display: flex;
        justify-content: space-between;        
        align-items: center;
        
    }
}
